<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
    <meta charset="UTF-8">
    <title>Status View</title>
</head>
<body>
<h1>Let's check how are you really doing...</h1>

<table th:object="${client}" th:action="@{'/status'}" method="get">

        <h2><output type="text" th:field="*{firstName}" th:field="*{lastName}"/>Firstname, Lastname</h2>

    <tr>
        <th>Age:</th>
        <td><output type="text" th:field="*{age}"/></td>
    </tr>
    <tr>
        <th>Height:</th>
        <td><output type="text" th:field="*{height}"/></td>
    </tr>
    <tr>
        <th>Weight:</th>
        <td><output type="text" th:field="*{weight}"/></td>
    </tr>
    <tr>
        <th>Heartbeats:</th>
        <td><output type="text" th:field="*{heartBeats}"/></td>
    </tr>
    <tr>
        <th>IMC:</th>
        <td><output type="text" th:field="*{IMC}"/></td>
    </tr>
    <tr>
        <th>Smoke?</th>
        <td><output type="text" th:field="*{smoking}"/></td>
    </tr>
    <tr>
        <th>Drink?</th>
        <td><output type="text" th:field="*{drinking}"/></td>
    </tr>
    <tr>
        <th>Take drugs?</th>
        <td><output type="text" th:field="*{takeDrugs}"/></td>
    </tr>
    <tr>
        <th>Has a risky job?</th>
        <td><output type="text" th:field="*{riskyJob}"/></td>
    </tr>
    <tr>
        <th>Exercise? Practise sport(s)?</th>
        <td><output type="text" th:field="*{sports}"/></td>
    </tr>
    <tr>
        <th>Is a Code Cadet or did a bootcamp?</th>
        <td><output type="text" th:field="*{bootcampCodeCadet}"/></td>
    </tr>
    <tr>
        <th>How many meals per day?</th>
        <td><output type="text" th:field="*{numberOfMeals}"/></td>
    </tr>
    <tr>
        <th>Is in a relationship?</th>
        <td><output type="text" th:field="*{relationship}"/></td>
    </tr>
    <tr>
        <th>Have kids?</th>
        <td><output type="text" th:field="*{parent}"/></td>
    </tr>
    <tr>
        <th>Score:</th>
        <td><output type="text" th:field="*{score}"/></td>
    </tr>
</table>


</body>

</html>

